[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "k8xu.github.io"]
	path = k8xu.github.io
	url = git@github.com:k8xu/k8xu.github.io.git
